 <div class="user-details">
  <h1> Passionated about exploit development, reverse engineering and malware analysis </h1>
  <p> Knowledgeable information security analyst with over five years of experience in cyber security. Skilled in performing risk assessment, security implementation, incident response, identifying vulnerabilities and developing effective solutions for current, and future protection from security breaches for your organization according to security policies.  </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Confidentiality</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p> Reach out secure
       
------BEGIN PGP PUBLIC KEY BLOCK-----

mQGNBGNIv5ABDADEa3LPFhfWwP63XcoC18S4YtEHuKBOABLYIYDVFe0o6fGQyF/R
o+KNj5IVwIC3SkX+wD1hS15IqY4894oYVF9DX1B7Diwu3Vbi68L/1bAu/KqzvDL8
y8b1HhpvVtLZvz85dylDBXtoQP2kKrWyEwBxbixCduEzx6pntmzbc2YGu5DZviwa
qPplvFld4hG5BOXfF2BSWpEDpwlIVkVKc+dMWLniO7KHtTIKoaYj6FScXUz6Hj7/
4S1+8gqMb05fzT8PNWnDSanD5gx0x88wOt5UICCw+OXN64kiL8bqN7xSnUYjSxri
o8G2Iz8ok5shJORpAoKwhI5CpRQgJDXmIUipgyYiVfk95s6CJ4RFNruncBXelzxx
wIFkKB+AfVaNXmgzo1AMhA8ZKQow5s8H/IxAgIvAQpnTML7BevriwBTX4IZufUz1
3QqTO/d12LFRzAyoJSKc36xW+M9xx8aplOwerqs9VAlLqvf0L+Qv+ffv4dTam830
5hH0u749ubDpTAsAEQEAAbQeTXRvcmliaW8gPG10b3JpYmlvQGFsYmFueS5lZHU+
iQHRBBMBCAA7FiEEVt1CBGLv8dG8lwKkpXvx7o9mHA0FAmNIv5ACGwMFCwkIBwIC
IgIGFQoJCAsCBBYCAwECHgcCF4AACgkQpXvx7o9mHA3Z3gv+OKL9snP0QCySIPu3
GdNuDTdKgZnx1UUvDjYlTF1aK8O9UrFATXRFIngu0WtegkHX8vtyiUCPXx4NEqL2
BSvB2st2AMUc5jAbLwJE2kuB2/zX4swR2HQH+L3yeox8k0QwWhluR0kLFACfyta0
cUjc1DiyH2NKixpvxJCwrpcW++W0C0JIEEFEqXjWun+LQW400LyWqBDC9S1Sg72R
o+K2AlOZx7hQJEesOyJcanyP9aAfEkINkq9tu7NFoLSQoDDEwixWwCoKVtlm8gpn
6tMdVOmDxGi0KdOCPbEhZ2fdBnH7EJyun8OjCT3XCEx9aNH11DEVhOTVx4EpGb2D
7Asz9Sz7LVp2ISAlQYw7jSMPhj4KbWjmh9uvwVm9hgdm2WuS6UdA+kbg5LoBwKnZ
eiOSElqAKWloCe0YxQOe99ulNnT5KH519AinsjTHZ9aq1ZuDo1u5yEl98pWfxsS9
lGq+X8L620ErWNwOf9BQfnJmUwVYDgBUxf9kBZUZZnmhTebduQGNBGNIv5ABDADE
rVFwfRKtxQl+I1nJ6hsUdMa8VpHUkBq8booctM2XmjBcbDBkBTxL7VDYfcKZ5w9p
6Qvl8lFsgWOFT9lOBja7eUyvF19a7iYxO4V3sJS3LzXqT0gpCrXXvb3AIE5Rv5++
MET4UC3am4RRbWfROhiIGrsLEYG69w1wotn3ipPvEon4g7J7KwM1vqbd/MfT5lyT
8iZS2sL/rfXz/1RXFKeRflYgw92IkgDa0b/wfgQ7nEtZ5TalrGSDFFfQXwkX4ZD6
zmrRUVkxtB5A/bajChvidn37KqN8zqwXW+iEJsivf6CD4Kb1aX9TtUgQ6UmxtwTS
WdyIMM/pwsWgIqXL3/MmRicLDN8M1a8PMGTEKi1xzgVKr/wgLkYtbteWQrmkPvHt
MhWhKgB5aVB6ToS+1+t3ttObwfDwLwGnxt9mjJggY5+wFP9xwlC3OViFKgsIKc3G
vIw7WBwjg/r4FghtpFGYSTYOVeTua+Nx0l3P+F0QezAAOf/6UuUjUEVS7PJI+nEA
EQEAAYkBtgQYAQgAIBYhBFbdQgRi7/HRvJcCpKV78e6PZhwNBQJjSL+QAhsMAAoJ
EKV78e6PZhwNWHYL/3z6ea0BkFBZrx+VILe6TWjmeX5xrQFYbAY6umfNnIKN47Jq
SUOZOBQrnLFF0AL5b65NnWLZBHuyLaccvLVb8Ndid7X//QuY7ml8aE4NQ+okc+gC
Pre6OWLyKKrMcJdaBuCsEBnIM8tJpsr2qazTh8s08a+Z5hqrCIkaxeh5AzHHToaV
u8/tnmxH/jC5Y7UGideCf5K8njBWctcx0VQK8pr4bRpdRKMSS1Z2D0bL8JU87wrt
EVDdQCcf/VPhttpCEXLdYxuh5eRSUa+QLUCnEEHnjLgdRUCDjIlLomG7XUGvshvF
sKrG/E3D9pyI97LJpfl7ubMjfstxcheb36qUH8MEuEMgEt4Cvw9igU7O4vnqMFIh
VDdj9DfhuSiRfoEfKyd9IBmzvKviI7ZE/CaJiGKu7OB/7OpvjdsRcUn2hwmF2H3m
SfSX5gPjBwshnDkCou3t0W0kJLnH6Nnjwgy4463oXY1hpG1ucwx+fjF29u/+ka99
OIBwv8sID0auVki6IA==
=GhWv
       
-----END PGP PUBLIC KEY BLOCK-----
</p>
    </div>
    <div class="tech">
      <h2>Integrity</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p> Trustworthy 
          Resourceful 
          Problem solver
      </p>
    </div>
    <div class="tech">
      <h2>Availability</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p> 24/7 Write me at unknowtime@protonmail.com </p>
    </div>
</div>
